[data-theme='light'] {
  --bgColor: #fff;
  --color: #333;
  --toggleBg: #d4e7d5;
  --toggleSlider: #fff;
  --roundColor: #fff;
  --svgColor: #111;
}

[data-theme='dark'] {
  --bgColor: #202124;
  --color: #d1dee1;
  --toggleBg: #ddd;
  --toggleSlider: #fff;
  --roundColor: #202124;
  --svgColor: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
  user-select: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bgColor);
  color: var(--color);
  transition: all 0.5s;
}

.container {
  width: 100%;
  height: 100%;
  text-align: center;
  /* margin-top: 50px; */
  display: grid;
  gap: 10px;
}

.navigation {
  /* border: 1px solid black; */
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

/* Switch theme */
#switch {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 25px;
  background-color: var(--toggleBg);
  outline: none;
  border-radius: 25px;
  transition: 0.4s;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

#switch::before {
  content: '';
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  width: 20px;
  height: 20px;
  background-color: var(--roundColor);
  border-radius: 50%;
  transition: 0.4s ease;
}

input[type='checkbox']:checked::before {
  transform: translateX(25px);
}

.container h1 {
  font-size: 5em;
}

.container .logo {
  font-size: 10em;
}

.container p {
  font-size: 1.5em;
}

#list {
  list-style: none;
  text-align: left;
  padding: 10px;
  color: #333;
}

.form #task {
  width: 50%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
}

.enter {
  display: none;
}

.listItems {
  display: grid;
  grid-template-columns: 10px 1fr auto;
  place-items: center;
  gap: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
  /* border: 1px solid #000; */
  padding: 10px;
}

.centang {
  cursor: pointer;
}

.coret {
  text-decoration: line-through;
}

span {
  width: 100%;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  /* width: 30px;
  height: 30px; */
  padding: 5px;
  color: #fff;
  font-size: 1.5em;
  /* background: transparent; */
  background-color: #ec5d57;
}

.wadah {
  height: 0;
  transform: translateY(0);
  transform-origin: 0% 0%;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.wadahList {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 4px;
  width: 50%;
  height: 50vh;
  margin: auto;
  overflow-y: auto;
  transform: translateY(0.25rem);
  opacity: 1;
  visibility: visible;
}

.btn-clear {
  margin: auto;
  margin-bottom: 50px;
  width: 50%;
  text-align: right;
  padding-right: 20px;
  cursor: pointer;
}

.btn-clear:hover {
  transform: scale(1.01);
}
